.upper-log {
  border-bottom: 1px solid #e7e9fc;
  width: 1440px;
  height: 72px;
}
.box-log-left {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
  width: 261px;
  height: 24px;
  box-sizing: border-box;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 347px;
}
